<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <title>{% block title %}Técnicas Térmicas{% endblock %}</title>

    <meta name="theme-color" content="#286daf">

    <!-- Imports an icon to represent the document. -->
    <link rel="icon" href="/images/icons/logos-TT-07.png" type="image/png"/>

    <!-- Imports the manifest to represent the web application. A web app must have a manifest to be a PWA. -->
    <link rel="manifest" href="/manifest.json"/>

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('index') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('index') }}
    {% endblock %}
</head>
<body>
<div id="root"></div>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register(
            '/sw.js'
        );
    }
</script>
</body>
</html>
